@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200&display=swap");
* {
  font-family: "Literata", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.theme-switch {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.theme-label {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 25px;
  position: relative;
  transition: 0.3s ease;

  cursor: pointer;
}

.theme-label:hover {
  background-color: #666666;
}

body.dark-mode .theme-label {
  background-color: #fff;
}

body.dark-mode .theme-label:hover {
  background-color: #929292;
}

#theme-toggle {
  display: none;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: white;
}

body.dark-mode #popup {
  background-color: #333;
}

.fadeOut {
  animation-name: fadeOutAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeTo {
  animation-name: ToWing;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -100%);
    display: none;
  }
}

@keyframes ToWing {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#showPopup {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #333;

  transition: 0.3s ease;
}

body.dark-mode #showPopup {
  background-color: #fefefe;
}

#showPopup:hover {
  background-color: #666666;
}

body.dark-mode #showPopup:hover {
  background-color: #929292;
}

.create {
  padding: 50px;
  /* border: 3px solid #000000; */
  border-radius: 100px;
  width: 25%;
  height: 75%;
  top: 15%;
  left: 65%;
  position: fixed;

  transition: 0.3s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

body.dark-mode .input__create {
  color: white;
}

.input__create {
  border: 0px;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  margin: 0px 0px 20px;
  margin-top: 20px;
}

.input__create:focus {
  color: rgb(68, 0, 255);
}

body.dark-mode .input__create:focus {
  color: rgb(255, 135, 135);
}

.input__post__create {
  border: 0px;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  margin: 0px 0px 20px;
  margin-top: 20px;
}

.input__post__create:focus {
  color: rgb(68, 0, 255);
}

body.dark-mode .input__post__create:focus {
  color: rgb(255, 135, 135);
}

body.dark-mode .input__post__create {
  color: #fff;
}

.select__create {
  border: 0px;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  margin: 0px 0px 20px;
  margin-top: 20px;
  outline: none;

  cursor: pointer;
}

body.dark-mode .select__create option {
  background-color: #333;
}
body.dark-mode .select__create {
  color: white;
}

input:focus {
  outline: none;
}

#post__working {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  width: 20%;
  height: 50%;
  border-radius: 100px;

  z-index: -1;
}

.fadeLeft {
  animation-name: ToLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeRieght {
  animation-name: ToRieght;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes ToLeft {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(90%, -50%);
    display: none;
  }
}

@keyframes ToRieght {
  from {
    opacity: 0;
    transform: translate(90%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

button {
  border: 0px;
  width: 50%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  /* margin: 0px 0px 20px; */
  margin-top: 10px;
  outline: none;

  cursor: pointer;
}

button:hover {
  background: rgb(167, 135, 255);
}

body.dark-mode button {
  color: white;
}

body.dark-mode button:hover {
  background: rgb(255, 135, 135);
}

#output {
  padding: 50px;
  /* border: 3px solid #000000; */
  border-radius: 100px;
  width: 25%;
  height: 75%;
  top: 15%;
  right: 65%;
  position: fixed;
  transition: 0.3s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.element__text {
  border: 0px;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.3s ease;
  background: none;
  padding: 5px;
  margin: 0px 0px 20px;
  margin-top: 20px;
}

.input__create__post {
  border: 0px;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  margin: 0px 0px 20px;
  margin-top: 20px;
  position: relative;
  top: 33px;
}

body.dark-mode .input__create__post {
  color: white;
}

.input__create__post:focus {
  color: rgb(68, 0, 255);
}

body.dark-mode .input__create__post:focus {
  color: rgb(255, 135, 135);
}

.close {
  border: 0px;
  width: 50%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  /* margin: 0px 0px 20px; */
  margin-top: 43px;
  outline: none;
}

.close2 {
  border: 0px;
  width: 50%;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  transition: 0.3s ease;
  background: none;
  color: black;
  padding: 5px;
  /* margin: 0px 0px 20px; */
  margin-top: 22px;
  outline: none;
}

#post__exprience {
  padding: 50px;
  /* border: 3px solid #000000; */
  border-radius: 100px;
  width: 25%;
  height: 62%;
  top: 15%;
  right: 37%;
  position: fixed;
  transition: 0.3s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.post-class {
  position: relative; /* Для использования абсолютного позиционирования */
}

.post-class::after {
  content: "›";
  position: absolute;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  /* text-align: center; */
  top: 43%;
  transform: translateY(-50%);
}

.post-class:hover {
  background: rgb(167, 135, 255);
  cursor: pointer;
}

body.dark-mode .post-class:hover {
  background: rgb(255, 135, 135);
  cursor: pointer;
}

.fadeOutDocument {
  animation-name: FOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeToDocument {
  animation-name: FTo;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes FOut {
  from {
    opacity: 1;
    right: 37%;
  }
  to {
    opacity: 0;
    right: 65%;
    display: none;
  }
}

@keyframes FTo {
  from {
    opacity: 0;
    right: 65%;
  }
  to {
    opacity: 1;
    right: 37%;
  }
}
